/*Cloud Controller  - Updated 03/11/2020

    Assets & Code by: Michael Hammer
        Twitch: https://www.twitch.tv/xhamr
        Twitter: https://www.twitter.com/xhamr
        Instagram: https://www.instagram.com/xhamr
        Discord: https://discord.gg/qJkFeJA
        Fiverr: https://www.fiverr.com/xhamrrl/create-custom-controller-overlay
*/

/*BEGIN Xbox One Controller Styling*/
.edit.controller.xbox {
    background: url(https://xhamrttv.github.io/cloud/base.gif);
}

.controller.edit {
    background: url(https://xhamrttv.github.io/cloud/base.gif);
}


.edit .xbox .trigger {
    background: url(https://xhamrttv.github.io/cloud/trigger.gif);
}

.edit .trigger {
    background: url(https://xhamrttv.github.io/cloud/trigger.gif);
}



.edit .xbox .bumper {
    background: url(https://xhamrttv.github.io/cloud/bumper.gif);
}

.edit .bumper {
    background: url(https://xhamrttv.github.io/cloud/bumper.gif);
}


.edit .xbox .quadrant {
    background: url(https://xhamrttv.github.io/cloud/quadrant.png);
}

.edit .quadrant {
    background: url(https://xhamrttv.github.io/cloud/quadrant.png);
}

.edit .xbox .back, .xbox .start {
    background: url(https://xhamrttv.github.io/cloud/start-select.gif);
}

.edit .back, .start {
    background: url(https://xhamrttv.github.io/cloud/start-select.gif);
}

.edit .xbox .button {
    background: url(https://xhamrttv.github.io/cloud/abxy.gif);
}

.edit .button {
    background: url(https://xhamrttv.github.io/cloud/abxy.gif);
}

.edit .xbox .stick {
    background: url(https://xhamrttv.github.io/cloud/stick.gif);
    background-position: -85px 0;
}

.edit .stick {
    position: absolute;
    background: url(https://xhamrttv.github.io/cloud/stick.gif);
    background-position: -85px 0;
}

.edit .xbox .face {
    background: url(https://xhamrttv.github.io/cloud/dpad.gif);
}

.edit .face {
    background: url(https://xhamrttv.github.io/cloud/dpad.gif);
}
