.controller.edit {
    background: url(https://xhamrttv.github.io/xhamr/base.png);
}

.edit .ds4 .triggers {
    width: 588px;
    height: 90px;
    position: absolute;
    left: 109px;
}

.edit .triggers {
    width: 588px;
    height: 90px;
    position: absolute;
    left: 109px;
}

.edit .ds4 .trigger {
    background: url(https://xhamrttv.github.io/xhamr/triggers.png);
}

.edit .trigger {
    background: url(https://xhamrttv.github.io/xhamr/triggers.png);
}

.edit .ds4 .trigger.left {
    float: left;
}

.edit .trigger.left {
    float: left;
}

.edit .ds4 .trigger.right {
    float: right;
    background-position-x: 99px;
}

.edit .trigger.right {
    float: right;
    background-position-x: 99px;
}

.edit .ds4 .bumper {
    background: url(https://xhamrttv.github.io/xhamr/bumper.png) no-repeat;
}

.edit .bumper {
    background: url(https://xhamrttv.github.io/xhamr/bumper.png) no-repeat;
}

.edit .ds4 .bumpers {
    position: absolute;
    width: 588px;
    height: 23px;
    left: 109px;
    top: 94px;
}

.edit .bumpers {
    position: absolute;
    width: 588px;
    height: 23px;
    left: 109px;
    top: 94px;
}

.edit .ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.edit .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.edit .ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.edit .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.edit .ds4 .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}

.edit .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}

.edit .ds4 .touchpad.pressed {
    background: url(https://xhamrttv.github.io/xhamr/touchpad.png);
}

.edit .touchpad.pressed {
    background: url(https://xhamrttv.github.io/xhamr/touchpad.png);
}

.edit .face .ds4 {
    background: url(https://xhamrttv.github.io/xhamr/dpad.png);
}


.edit .face {
    position: absolute;
    background: url(https://xhamrttv.github.io/xhamr/dpad.png);
}

.edit .stick .ds4 {
    background: url(https://xhamrttv.github.io/xhamr/sticks.png);
}


.edit .stick {
    position: absolute;
    background: url(https://xhamrttv.github.io/xhamr/sticks.png);
}

.edit .ds4 .back, .ds4 .start {
    background: url(https://xhamrttv.github.io/xhamr/start.png);
    width: 28px;
    height: 46px;
    opacity: 0;
}

.edit .back, .start {
    background: url(https://xhamrttv.github.io/xhamr/start.png);
    width: 28px;
    height: 46px;
    opacity: 0;
}

.edit .ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.edit .back.pressed, .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.edit .ds4 .back {
    float: left;
    /* width: 28px; */
}

.edit .back {
    float: left;
    /* width: 28px; */
}

.edit .ds4 .start {
    float: right;
    /* width: 28px; */
    background-position: 28px 0;
}

.edit .start {
    float: right;
    /* width: 28px; */
    background-position: 28px 0;
}

.edit .ds4 .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

.edit .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

.edit .ds4 .meta.pressed {
    background: url(https://xhamrttv.github.io/xhamr/meta.png) no-repeat center;
}

.edit .meta.pressed {
    background: url(https://xhamrttv.github.io/xhamr/meta.png) no-repeat center;
}

.edit .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 159px;
    left: 567px;
}

.edit .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://xhamrttv.github.io/xhamr/face.png);
}

.edit .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.edit .a {
    background-position: 0 0;
    bottom: 0;
    left: 58px;
}

.edit .b {
    background-position: -57px 0;
    top: 58px;
    right: 0px;
}

.edit .x {
    background-position: -113px 0;
    top: 58px;
}

.edit .y {
    background-position: 55px 0;
    left: 58px;
}
