/*BEGIN Xbox One Controller Styling*/
.edit.controller.xbox {
    background: url(https://xhamrttv.github.io/mg_homie/base.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.edit .xbox .triggers {
    width: 446px;
    height: 121px;
    position: absolute;
    left: 152px;
}

.edit .xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(https://xhamrttv.github.io/mg_homie/trigger.png);
    opacity: 0;
}

.edit .xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.edit .xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.edit .xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(https://xhamrttv.github.io/mg_homie/bumper.png);
    opacity: 0;
}

.edit .xbox .quadrant {
    position: absolute;
    background: url(https://xhamrttv.github.io/mg_homie/quadrant.png);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.edit .xbox .back, .xbox .start {
    background: url(https://xhamrttv.github.io/mg_homie/start-select.png);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.edit .xbox .button {
    position: absolute;
    background: url(https://xhamrttv.github.io/mg_homie/abxy.png);
    width: 48px;
    height: 48px;
}

.edit .xbox .stick {
    position: absolute;
    background: url(https://xhamrttv.github.io/mg_homie/stick.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.edit .xbox .face {
    background: url(https://xhamrttv.github.io/mg_homie/dpad.png);
    position: absolute;
    opacity: 0;
}


}

/*END Xbox One Controller Styling*/
